@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Poppins:400,500,600,700');

html,
body { overflow-x: hidden; }

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.nopadding {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo { padding: 5vh 3vw 0 3vw; }

.try {
    margin: 2rem 4rem;
    padding:  0.8vw 4vw;
    color: hsl(322, 100%, 66%);
    background-color: #fff;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.109);
}


.mtRow { margin: 10vw 0; }

.introTitle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 700;
}

.introDesc {
    margin: 0 auto;
    margin-top: 1vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 400;
    width: 50%;
}

.get {
    margin: 3vw 0;
    padding: 1.5vw 4.5vw;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    resize: vertical;
    outline: none;
    font-size: 1.4vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.109);
}

.mockup { margin-top: 5vh; width: 80%; }
.iconImg { width: 3vw; }
.count {
    font-size: 5.5vw;
    font-weight: 800;
}

.countDesc{
    font-size: 1.4vw;
    color: #999;
}

.sectionTop { padding: 5vw 0; }
.featGroup { margin: 2vw; padding: 0 2vw; }

.featureTitle {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 10vw;
    font-family: 'Poppins', sans-serif;
  }

.featureDesc {
    font-size: 1.3vw;
    font-weight: 400;
    color: #999;
    margin-top: 0.5rem;
    width: 95%;
}

.featIllus { width: 80%; text-align: center;}
.sectionTop { background-color: hsl(202, 100%, 98%); }
