@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Poppins:400,500,600,700');

html,
body { overflow-x: hidden; }

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.nopadding {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo { padding: 5vh 3vw 0 3vw; }

.try {
    margin: 2rem 4rem;
    padding:  0.8vw 4vw;
    color: hsl(322, 100%, 66%);
    background-color: #fff;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.109);
}


.mtRow { margin: 10vw 0; }

.introTitle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 700;
}

.introDesc {
    margin: 0 auto;
    margin-top: 1vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 400;
    width: 50%;
}

.get {
    margin: 3vw 0;
    padding: 1.5vw 4.5vw;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    resize: vertical;
    outline: none;
    font-size: 1.4vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.109);
}
.bgSec{ width: 120vw; }
.mockup { margin-top: 5vh; width: 80%; }
.iconImg { width: 3vw; }
.count, .count1 { font-size: 5.5vw; font-weight: 800; }

.odometer.odometer-auto-theme, .odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal, .odometer.odometer-theme-minimal .odometer-digit {
        display: -webkit-inline-box;
}

.countDesc{ font-size: 1.4vw; color: #999; }
.sectionTop { padding: 5vw 0; }
.featGroup { margin: 2vw; padding: 0 2vw; }

.featureTitle {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 10vw;
    font-family: 'Poppins', sans-serif;
  }

.featureDesc {
    font-size: 1.3vw;
    font-weight: 400;
    color: #222;
    margin-top: 0.5rem;
    width: 95%;
}

.featIllus, .featIllus1{ width: 80%; text-align: center;}
.featIllus1 { margin-left: 3vw; }
.sectionTop { background-color: hsl(202, 100%, 98%); }
footer { background-color:  hsl(192, 100%, 9%); color: #fff;}
.fooRow { margin-top: -0.2vw; padding: 7vw 0 3vw 3vw;}
.fooLeftText { font-size: 1.35vw; margin: 1.5vw 3vw; width: 60%; }
.icons { margin-top: 3vh; margin-left: 3vw; font-size: 1.35vw; }
.iconimg { width: 1.5vw; margin-top: 2vh; vertical-align: middle; margin-bottom: 0.75em; }
.iconDesc { font-size: 1.3vw; margin-left: 20px; }
.fooRightText { font-size: 2vw; margin: 2vw 3vw 1vw; font-weight: 800;}
.fooRightDesc { font-size: 1.35vw; margin: 1.5vw 3vw; width: 70%; }
.signUp { display: inline-flex; width: 90%;  margin-top: -1vw; }

input[type='text'] {
    margin: 2vw 0 0 3vw;
    width: 100%;
    padding: 1vw 1vw;
    color: black;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
    resize: vertical;
    outline: none;
    font-size: 1.2vw;
    order: 1;
    display: flex;
    font-weight: 500;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.subs {
    margin: 2vw 0 0 1vw;
    width: 50%;
    padding: 0.5vw;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 700;
    order: 2;
    font-size: 1.2vw;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.socials a { color: #fff; text-decoration: none;}
.socials { padding: 1vw 3vw 5vw; margin-left: 3vw; }

.fab {
    color: #fff;
    font-size: 2.5vw;
    display: inline;
    margin-right: 18px;
}


/******************************************************************
************************* Mobile view CSS *************************/
@media screen and (min-width: 320px)  and (max-width: 767px){

}

/******************************************************************
************************* Tablet view CSS *************************/
@media screen and (min-width: 768px)  and (max-width: 1023px){

}

/******************************************************************
************************* Laptop view CSS *************************/
@media screen and (min-width: 1024px)  and (max-width: 1439px){

}

@media screen and (min-width: 1440px)  and (max-width: 2559px){

}

@media screen and (min-width: 2560px) {

}
