html, body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: hsl(0, 0%, 75%);
    --lightGray: hsl(230, 25%, 95%);
    --grayishViolet: hsl(257, 7%, 63%);
    --lightBlue: hsl(178, 58%, 75%);
    --blue: hsl(181, 65%, 50%);
    --pink: hsl(356, 78%, 66%);
    --violet: hsl(257, 27%, 26%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);
}

body {
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    width: 100vw;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

li {
    display: block;
    padding: 1em;
    font-size: 1.2vw;
    font-weight: 700;
    color: var(--gray);
}

li:hover, .login:hover {
    color: var(--veryDarkBlue);
    cursor: pointer;
}

ul {
    display: inline-flex;
}

.nav {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    margin: 2em auto;
}
    
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 5 / 2 / 6; }

.login {
    background: #fff;
    color: var(--gray);
    font-weight: 700;
}

.signUp {
    background-color: var(--blue);
    font-weight: 700;
    color: #fff;
    padding: 0.6em 2em;
    border-radius: 2em;
}

.signUp:hover, .get:hover, .shorten:hover {
    background-color: var(--lightBlue);
    cursor: pointer;
}


.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 95%;
    margin: 0 0 0 auto ;
}
    
.heading { grid-area: 1 / 1 / 2 / 2; }
.illus { grid-area: 1 / 2 / 2 / 3; } 

.get {
    background-color: var(--blue);
    font-weight: 700;
    font-size: 1.3vw;
    color: #fff;
    padding: 0.8em 2em;
    border-radius: 2em;
}

.title {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 1em;
    color: var(--veryDarkBlue);
}

.desc {
    width: 95% ;
    font-size: 1.4em;
    font-weight: 500;
    color: var(--grayishViolet);
}

.space {
    margin-bottom: 10vw ;
}

.bot {
    background-color: var(--lightGray);
    position: relative;
    padding: 2vw;
}

.linksList {
    background: url('../images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--violet);
    border-radius: 10px;
    margin: 2em auto;
    width: 80%;
    position: absolute;
    top: -8vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.group1 {
    top: -2vw ;
    padding: 2.1em 2em 1.6em;
}

.group2 {
    padding-top: 8vw; 
    padding-bottom: 4vw;
}

.input-group {
    padding: 1em 1em 0;
}
.short {
    border-radius: 10px !important; 
    border: 3px solid var(--pink);
    font-size: 1.3vw;   
}
#addLink {
    font-size: 1.2vw;
    color: var(--pink) !important;
    font-weight: 500;
    padding: 0 1em 0;
}
.shorten {
    background-color: var(--blue);
    font-weight: 700;
    font-size: 1.3vw;
    color: #fff;
    padding: 1em 2em;
    border-radius: 10px;
    margin: 0 1em;
    grid-area: 1 / 5 / 2 / 6; 
}

.groupUrl {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    padding: 1em;
}

.urlLink { grid-area: 1 / 1 / 2 / 4; font-weight: 500; margin: 1vw; font-size: 1.3vw;}
.refLink { grid-area: 1 / 4 / 2 / 6; color: var(--blue); font-weight: 500; margin: 1vw; font-size: 1.3vw;}
.copy {
    background-color: var(--blue);
    font-weight: 700;
    font-size: 1vw;
    color: #fff;
    padding: 0.8em 1.5em;
    border-radius: 10px;
    grid-area: 1 / 6 / 2 / 7; 
    height: 8vh;
    width: 7vw;
    margin: 0 auto;
}
.featTitle {
    padding-top: 1vw;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--veryDarkBlue);
}
.featDesc {
    width: 40% ;
    font-size: 1.4vw;
    font-weight: 500;
    margin: 1vw auto;
    color: var(--grayishViolet);
}

.boost {
    height: 40vh;
    background: url('../images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--violet);
}
.bTitle {
    padding-top: 8vh;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }