* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

:root {
    --gray: hsl(0, 0%, 75%);
    --grayishViolet: hsl(257, 7%, 63%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    width: 100vw;
}

.items, li {
    display: block;
    width: 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }