@import 'https://raw.githack.com/harshitks2203/FMProjects/master/FyloLandingPage1/css/fontline.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');
body {
    overflow-x: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.leftPart {
    background-color: #1f2775;
    background-image: linear-gradient(19deg, #6560b1 0%, #1f2775 100%);
    height: 100vh;
}

.illus {
    margin-top: 20vh;
    width: 25rem;
}

.logo {
    margin-top: 8vh;
    margin-left: 2vw;
}

.social {
    text-align: right;
    margin-top: 10vh;
    padding-right: 5vw;
    float: right;
}

.fab,
.fas {
    color: #000;
    font-size: 1.5rem;
    padding-left: 1em;
}

.rightPart {
    height: 100vh;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    width: 80%;
    margin-top: 15vh;
    margin-left: 2vw;
}

.desc {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 3vh;
    width: 75%;
    margin-top: 2vh;
    margin-left: 2vw;
    color: #555;
}

.signUp {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    width: 80%;
    margin-top: 8vh;
    margin-left: 2vw;
}

.group1 {
    width: 80%;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

input[type='text'] {
    width: 50%;
    padding: 0.7em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    outline: none;
    font-size: 1em;
    color: #222;
    order: 1;
    display: flex;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sign {
    width: 30%;
    padding: 0.7em;
    background-color: #75d89e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    outline: none;
    text-align: center;
    order: 2;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.privacy {
    float: right;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    text-decoration: underline;
    color: #000;
}

/******************************************************************
************************* Mobile view CSS *************************/

@media screen and (min-width: 320px) and (max-width: 570px) {
    /*common css for mobile*/
    .leftPart {
        background-image: url('../images/bg-intro.svg');
        background-repeat: no-repeat;
        object-fit: contain;
        background-position: center;
        background-size: cover;
        background-color: transparent !important;
        height: 100vh;
    }
    .title,
    .desc,
    .signUp,
    .group1 {
        margin: 0 auto;
    }
    .logo,
    .social {
        z-index: 999;
    }
    .fab,
    .fas {
        color: #fff;
    }
    .logo {
        margin-left: 1vw;
    }
    .social {
        margin-left: -1.5rem;
    }
}

@media screen and (max-width: 320px) and (max-width: 374px) {
    .illus {
        width: 15rem;
    }
    .title {
        padding-top: 2rem;
        font-size: 1.7em;
        line-height: 5vh;
    }
    .desc {
        padding-top: 1rem;
        width: 80%;
        font-size: 0.9em;
    }
    .signUp {
        padding-top: 2rem;
        font-size: 1.2rem;
    }
    .group1 {
        padding-top: 1rem;
        width: 80%;
    }
    input[type='text'] {
        padding: 1rem;
        font-size: 0.8rem;
        width: 100%;
    }
    .sign {
        margin-top: 1rem;
        padding: 1rem;
        width: 40%;
        margin-left: -2vw;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .illus {
        width: 15rem;
    }
    .title {
        padding-top: 2rem;
        font-size: 1.7em;
        line-height: 5vh;
    }
    .desc {
        padding-top: 1rem;
        width: 80%;
        font-size: 0.9em;
    }
    .signUp {
        padding-top: 2rem;
        font-size: 1.2rem;
    }
    .group1 {
        padding-top: 1rem;
        width: 80%;
    }
    input[type='text'] {
        padding: 1rem;
        font-size: 0.8rem;
        width: 100%;
    }
    .sign {
        margin-top: 1rem;
        padding: 1rem;
        width: 40%;
        margin-left: -2vw;
    }
}

@media screen and (min-width: 425px) and (max-width: 570px) {
    .illus {
        width: 17rem;
    }
    .title {
        padding-top: 2rem;
        font-size: 2em;
        line-height: 5vh;
    }
    .desc {
        padding-top: 1rem;
        width: 80%;
        font-size: 1em;
    }
    .signUp {
        padding-top: 2rem;
        font-size: 1.2rem;
    }
    .group1 {
        padding-top: 1rem;
        width: 80%;
    }
    input[type='text'] {
        padding: 1rem;
        font-size: 0.8rem;
        width: 100%;
    }
    .sign {
        margin-top: 1rem;
        padding: 1rem;
        width: 40%;
        margin-left: -2vw;
    }
}

/******************************************************************
************************* Tablet view CSS *************************/

@media screen and (min-width: 768px) and (max-width:1023px) {
    body {
        overflow-y: hidden;
    }
    .illus {
        width: 20rem;
    }
    .title {
        font-size: 1.2em;
    }
    .desc {
        font-size: 0.75em;
    }
    .signUp {
        font-size: 1rem;
    }
    input[type='text'],
    .sign {
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}

/******************************************************************
************************* Laptop view CSS *************************/

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    body {
        overflow-y: hidden;
    }
    .illus {
        width: 20rem;
    }
    .title {
        font-size: 1.5em;
    }
    .desc {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 2560px) {
    body {
        overflow-y: hidden;
    }
    .illus {
        width: 40rem;
    }
    .title {
        font-size: 3.8rem;
    }
    .desc {
        font-size: 2rem;
    }
    .signUp {
        font-size: 2.5rem;
    }
    input[type='text'],
    .sign {
        padding: 2rem;
        font-size: 1.7rem;
    }
    .privacy {
        font-size: 1.4rem;
    }
}