@import 'https://raw.githack.com/harshitks2203/FMProjects/master/FyloLandingPage1/css/fontline.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Open+Sans:400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(217, 28%, 15%);
    color: #fff;
    overflow-x: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.logo {
    margin: 3rem 3rem;
}

.group1 {
    margin-top: 3.5rem;
    margin-left: -3rem;
    font-size: 1.2rem;
}

.group1>ul li {
    display: inline;
    padding: 1rem;
}

.illus {
    margin: 0 auto !important;
}

.introTitle {
    margin: 0 auto;
    width: 80% !important;
    margin-top: 2.2rem;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

.introDesc {
    width: 65% !important;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.get {
    margin: 2rem;
    width: 80%;
    padding: 1em;
    background-color: hsl(198, 60%, 50%);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.introEnd {
    height: 65vh;
    margin-top: -40vh;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;
}

.main,
.quotes {
    background-color: hsl(217, 28%, 13%);
    padding: 2vh 0;
}

.mainRow {
    padding: 5vh 0;
}

.colMain {
    text-align: center;
}

.illusMain {
    width: 6rem;
    height: 5rem;
    margin: 1vh;
}

.group2 {
    margin: 0 auto;
    width: 80%;
}

.feature_title {
    margin-top: 2vh;
    font-weight: 700;
    font-size: 1.5rem;
}

.feature_desc {
    margin-top: 1vh;
    font-size: 0.9rem;
    width: 90%;
    margin: 0 auto;
}

.rowMain2 {
    padding: 15vh 0;
}

.illusStay {
    width: 100%;
}

.prod_title {
    padding-top: 15vh;
    padding-left: 2vw;
    font-weight: 700;
    font-size: 2.5rem;
    width: 80%;
    line-height: 3rem;
}

.prod_desc,
.learn {
    padding-top: 2vh;
    padding-left: 2vw;
    font-size: 1rem;
    line-height: 1.5rem;
}

.learn>a {
    padding-bottom: 5px !important;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%) !important;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.cardMain {
    margin-left: 2vw;
}

.card {
    background-color: hsl(219, 30%, 18%);
    box-shadow: 8px 8px 20px 4px hsl(217, 28%, 15%);
}

.review {
    font-size: 0.8rem;
}

.group2 {
    margin: 2vh 0 0 0;
}

.profile {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.proDesc {
    font-size: 0.8rem;
    margin-left: -1vw;
}

.proName {
    font-weight: 700;
}

.proOccu {
    font-size: 0.6rem;
}

.emailSign {
    margin-top: 30vh;
    margin-bottom: 5vh;
}

.cardNew {
    background-color: #1b2230;
    box-shadow: 4px 4px 20px 2px #121212;
}

.cardTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3vh;
}

.cardDesc {
    margin: 0 auto;
    margin-top: 2vh;
    font-size: 1rem;
    width: 85%;
}

input[type='text'] {
    margin: 2rem;
    width: 90%;
    padding: 1em;
    color: black;
    border-radius: 2rem;
    border: 1px solid #ccc;
    resize: vertical;
    outline: none;
    font-size: 1em;
    order: 1;
    display: flex;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

footer {
    background-color: hsl(216, 53%, 9%);
    margin-top: -25vh;
}

.fLogo {
    margin-top: 20vh;
    margin-left: 2vw;
}

.locGroup {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-left: 3vw;
}

.locIcon {
    width: 3vw;
    display: inline;
    margin-left: 2vw;
}

.loc {
    vertical-align: middle;
    width: 1.25vw;
}

.locText {
    display: inline;
    margin-left: 2vw;
}

.iconimg {
    margin-top: 2vh;
    width: 1.5vw;
    vertical-align: middle;
    margin-bottom: 0.75em;
}

.iconDesc {
    font-size: 0.9em;
    margin-left: 20px;
}

.widget_text li {
    margin: 0 0 1.5vh 0;
}

.widget_text a,
.list1 a {
    color: #fff;
}

.socials {
    display: flex;
    justify-content: center;
}

.fab {
    color: #fff;
    font-size: 1rem;
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline;
    margin-left: 1rem;
}

.fa-facebook-f {
    padding: 0.5rem 0.8rem;
}

/******************************************************************
************************* Mobile view CSS *************************/

@media screen and (max-width: 320px) and (max-width: 374px) {}

@media screen and (min-width: 375px) and (max-width: 424px) {}

@media screen and (min-width: 425px) and (max-width: 450px) {}

/******************************************************************
************************* Tablet view CSS *************************/

@media screen and (min-width: 768px) and (max-width:1023px) {}

/******************************************************************
************************* Laptop view CSS *************************/

@media screen and (min-width: 1024px) and (max-width: 1439px) {}

@media screen and (min-width: 1440px)and (max-width: 2559px) {}

@media screen and (min-width: 2560px) {}