@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700|Open+Sans:400,500,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    width: 100vw;
}

.logo { margin: 3vw 3vw; width: 12vw;}

.group1 {
    margin-top: 3vw;
    margin-left: -3vw;
    font-size: 1.2vw;
}

.group1>ul li {
    display: inline;
    padding: 1vw;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: #000;
}
.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    padding: 1vw;
    margin: 3vw auto;
    vertical-align: center;
}
.mtRow { margin-top: 10vw;}
.introTitle {
  margin: 5vw 2vw 1vw;
  font-size: 2.7vw;
  font-family: 'Raleway',fantasy sans-serif;
  font-weight: 800;
}
.introDesc, .featureDesc {
  margin: 1vw 2vw;
  font-size: 1.35vw;
}
.featureTitle {
  margin: 5vw 0 3vw 2vw;
  font-size: 2.7vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
.signUp { display: inline-flex; width: 85%; margin-left: 1vw;}
.signUp2 { display: block; width: 80%; margin: 5.5vw auto;}
.email { box-shadow: 2px 2px 8px 2px #444; border-color: transparent !important; }
input[type='text'] {
    margin: 2vw 0 0 1vw;
    width: 100%;
    padding: 1vw 1vw;
    color: black;
    border-radius: 0.3vw;
    border: 1px solid #222;
    resize: vertical;
    outline: none;
    font-size: 1.2vw;
    order: 1;
    display: flex;
    font-weight: 500;
}
.get {
    margin: 2vw 0 0 1vw;
    width: 50%;
    padding: 1vw 3vw;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 700;
    order: 2;
    font-size: 1.2vw;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.trans {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.trans:hover{ transform: scale(1.05); }
.sectionTop { padding: 5vw 0; background-color: #f8f8fe; }
.bgSec{ width: 120vw; }
.illus {
  width: 90%;
  margin: 0 auto;
}
.learn {
    padding-top: 2vh;
    padding-left: 2vw;
    font-size: 1.5vw;
    line-height: 1.5rem;
}
.learn>a {
    padding-bottom: 5px !important;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%) !important;
}
.card {
  width: 30vw;
  border-radius: 10px;
  margin: 3vw 0 2vw 2vw;
  box-shadow: 0px 0px 10px 0px #ddd;
}
.card-body {
  width: 90%;
  margin: 0 auto;
}
.quote { width: 1.35vw; margin: 1vw 0;}
.cardText{font-size: 1.2vw;}
.test { border-radius: 50%; width: 70%; margin: 1vw auto;}
.profileDetails { margin-top: 1.1vw; margin-left: -2vw;}
.profileName { font-weight: 800; font-size: 1vw;  }
.profileDesc { font-size: 0.8vw;}
.lightBlue {
    background-color: hsl(238, 22%, 44%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    padding: 3vw;
    vertical-align: center;
}
.textTitle {
  margin: 5vw 0 1vw;
  font-size: 2.7vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #fff;
}
.textDesc {
  margin: 1vw 0 3vw;
  width: 95%;
  font-size: 1.25vw;
  color: #fff;
}
.foo {
    background-color: hsl(243, 87%, 12%);
    color: #fff;
}
.fLogo { margin: 7vh 1vw 1vw; width: 12vw;}
.icons { margin-left: 2vw; }
.iconimg {
    margin-top: 2vh;
    width: 1.5vw;
    vertical-align: middle;
    margin-bottom: 0.75em;
}
.iconDesc {
    font-size: 1.25vw;
    margin-left: 20px;
}
.widget_text li { margin: 0 0 1.5vh 0; font-size: 1.35vw; }
.widget_text a{ color: #fff; }

.socials {
    display: flex;
    justify-content: center;
}
.fab {
    color: #fff;
    font-size: 1.35vw;
    padding: 1vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline;
    margin-left: 1vw;
}
.fa-facebook-f { padding: 1vw 1.3vw; }
.footerEnd { height: 10vh; }

/******************************************************************
************************* Mobile view CSS *************************/
@media screen and (min-width: 320px)  and (max-width: 767px){
  .logo { width: 15vw; margin: 5vw;}
  .group1 {
      margin-top: 5vw;
      margin-left: -5vw;
      font-size: 3vw;
  }
  .group1 li { margin-left: 2.5vw;}
  .intro { grid-template-columns: 1fr; }
  .rightDiv, .grow{
      order: 1;
      width: 80%;
      margin: 0 auto;
      text-align: center;
   }
  .leftDiv, .growUp{ order: 2; width: 90%; margin: 0 auto;}

  .introTitle { font-size: 5vw; text-align: center;}
  .introDesc { font-size: 3.5vw; text-align: center; margin-top: 4vw;}
  .featureTitle { font-size: 4.5vw; text-align: center; margin-top: 5vw;}
  .featureDesc { font-size: 3.5vw; margin-top: 4vw;}
  .signUp { display: block; width: 90%; margin: 0 auto;}
  input[type='text'] {
    margin: 3vw 0 0 1vw;
    padding: 2vw 2vw;
    font-size: 3.5vw;
    border-radius: 1vw;
  }
 .get { padding: 2vw 2vw;
    width: 100%;
    border-radius: 1vw;
    font-size: 3.5vw;
  }
  .learn { font-size: 3.5vw; text-align: center;}
  .card { width: 90%; margin: 10vw auto;}
  .quote { width: 4vw;}
  .cardText { font-size: 2.4vw; }
  .test { width: 100%; }
  .profileName { font-size: 2vw; }
  .profileDesc { font-size: 1.8vw; }
  .profileDetails{ margin-left: -5vw; }
}

/******************************************************************
************************* Tablet view CSS *************************/
@media screen and (min-width: 768px)  and (max-width: 1023px){
  .test {
    width: 100%;
    margin: 1.2vw auto;
  }
}

/******************************************************************
************************* Laptop view CSS *************************/

@media screen and (min-width: 2560px) {
  .iconDesc{ vertical-align: middle;}
}
