@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Poppins:400,500,600,700');

html,
body { overflow-x: hidden; }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.nopadding {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo { padding: 5vh 3vw 0 3vw; }

.try {
    margin: 2rem 4rem;
    padding:  0.8vw 2vw;
    color: hsl(322, 100%, 66%);
    background-color: #fff;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 5px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.109);
}

.mtRow { margin: 10vw 0; }

.introTitle, .buildTitle {
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}

.introDesc {
    margin: 0 auto;
    margin-top: 1vw;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 400;
    width: 50%;
    color: hsl(208, 11%, 55%);
}

.get {
    margin: 3vw 0;
    padding: 1.5vw 4.5vw;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 10px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.109);
}

.mockup { width: 80%; }

.illus { text-align: right; width: 90%; margin-top: 3vw;}

.featGroup { margin: 2vw; padding: 0 2vw; }

.featureTitle { font-size: 2.2vw; font-weight: 700; }

.featureDesc {
    font-size: 1.3vw;
    font-weight: 400;
    color: hsl(208, 11%, 55%);
    margin-top: 0.5rem;
    width: 95%;
}

.buildTitle { margin-top: 10vw; }

footer {
    background-color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    margin-top: 10vh;
}

.fLogo { margin: 5vh 0; margin-left: 2vw; }

.fooText{
  font-size: 1.2vw;
  width: 90%;
  margin-left: -3vw;
}

.widget_text li {
    margin: 0 0 1.5vh 0;
}

.fooText, .fooRText, .fas, .widget_text a,
.list1 a, .socials a { color: #fff; text-decoration: none;}

.socials {
  margin-top: 4vh;
  margin-left: -3vw;
}

.fab {
    color: #fff;
    font-size: 2.5vw;
    display: inline;
    margin-right: 15px;
}

.fooGroup1 { margin: 1vh 0; }
.fooRText{ font-size: 1.5vw; }

.btn{
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.copy {
    text-align: center;
    margin-top: 15vh;
}

.footerEnd {
    margin-top: 10vh;
    height: 20vh;
    background-image: url(../images/bg-footer-desktop.png) !important;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;
}


/******************************************************************
************************* Mobile view CSS *************************/
@media screen and (min-width: 320px)  and (max-width: 767px){

}

/******************************************************************
************************* Tablet view CSS *************************/
@media screen and (min-width: 768px)  and (max-width: 1023px){
    .introTitle, .buildTitle, .fab { font-size: 3.5vw; }
    .introDesc { font-size: 1.8vw; width: 60%; }
    .featureTitle{ font-size: 2.7vw; }
    .featureDesc, .form-control { font-size: 1.5vw; }
    .mockup, .illus { margin-top: 5vw; }
    .fooText, .widget_text a, .copy, .try, .get { font-size: 1.7vw; }

}

/******************************************************************
************************* Laptop view CSS *************************/
@media screen and (min-width: 1024px)  and (max-width: 1439px){
    .widget_text a, .copy { font-size: 1.2vw; }
    .mockup { margin-top: 5vw; }
}

@media screen and (min-width: 1440px)  and (max-width: 2559px){
    .widget_text a, .copy { font-size: 1.2vw; }
    .mockup { margin-top: 5vw; }
}

@media screen and (min-width: 2560px) {
    .widget_text a, .copy { font-size: 1.2vw; }
    .logo { width: 25vw; }
    .btn, .form-control { padding: 0.7vw 1vw; font-size: 1.2vw; }
    .mockup { margin-top: 5vw; }
}
