@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Poppins:400,500,600,700');

html,
body { overflow-x: hidden; }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.nopadding {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo { padding: 5vh 3vw 0 3vw; }

.try {
    margin: 2rem 4rem;
    padding: 0.6rem 2rem;
    color: hsl(322, 100%, 66%);
    background-color: #fff;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 5px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 8px 1px hsla(322, 100%, 66%, 0.43);
}

.mtRow { margin: 10vw 0; }

.introTitle, .buildTitle {
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}

.introDesc {
    margin: 0 auto;
    margin-top: 1vw;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 400;
    width: 50%;
    color: hsl(208, 11%, 55%);
}

.get {
    margin: 3vw 0;
    padding: 1.5vw 4.5vw;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 10px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.109);
}

.mockup { width: 80%; }

.illus { text-align: right; width: 90%; margin-top: 2vw;}

.featGroup { margin: 1.5vw; padding: 0 2vw; }

.featureTitle { font-size: 2.2vw; font-weight: 700; }

.featureDesc {
    font-size: 1.3vw;
    font-weight: 400;
    color: hsl(208, 11%, 55%);
    margin-top: 0.5rem;
    width: 95%;
}

.buildTitle { margin-top: 10vw; }

footer {
    background-color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    margin-top: 10vh;
}

.fLogo { margin: 5vh 0; margin-left: 2vw; }

.fooText{
  font-size: 1.2vw;
  width: 90%;
  margin-left: -3vw;
}

.widget_text li {
    margin: 0 0 1.5vh 0;
}

.fooText, .widget_text a,
.list1 a {
    color: #fff;
}

.socials {
    display: flex;
    justify-content: center;
}

.fab {
    color: #fff;
    font-size: 1.5vw;
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline;
    margin-left: 1rem;
}

.fa-facebook-f {
    padding: 0.5rem 0.8rem;
}

.copy {
    text-align: right;
    margin-right: 2vw;
}

.footerEnd {
    height: 10vh;
}
