@import 'https://cdn.staticaly.com/gh/harshitks2203/FrontendMentorProjects/e9c320ef/HubbleLandingPage1/css/fontline.css';

html,
body,
.container-fluid {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.fml {
  width: 30%;
}

.mail {
  text-align: center;
}

.card-body > a,
a:link,
a:visited,
a:hover {
  color: #fff !important;
}

.backText {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12em;
  margin-top: -2%;
  color: #bdbdbd;
}

.card-img-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  width: 90% !important;
  margin: auto !important;
}

.card-body,
.footer-row {
  font-family: 'Lato', sans-serif;
}

.count {
  top: -51% !important;
}

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;

  width: 102%;
  margin-top: -10%;
  overflow-y: scroll;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px repeat(6, calc(50% - var(--gutter) * 2)) 10px;
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  /* padding: calc(var(--gutter) / 2 * 1.5); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

a,
a:link,
a:visited,
a:hover {
  cursor: pointer;
  text-decoration: none !important;
  color: #222;
}

/************ Footer ************/
.footer-row {
  display: flex;
}
.fab {
  font-size: 1.4em;
}
.fa-heart {
  color: red;
}
.fa-envelope {
  color: #222;
}
.fa-github {
  color: #171414;
}
.fa-twitter {
  color: #5aa3d6;
}
.fa-instagram {
  color: #dc3829;
}
.fa-linkedin {
  color: #3171ad;
}

/********************* Mobile View CSS *********************/

@media screen and (max-width: 320px) {
  .backText {
    font-size: 3em;
  }

  .fml {
    width: 100%;
  }

  .hs {
    grid-gap: 57%;
  }

  .app {
    width: 102%;
    margin-top: -16%;
    grid-template-columns: 2px 1fr 2px;
  }

  .item {
    width: 250%;
  }

  footer .mail,
  footer .made {
    text-align: left !important;
  }
  .made {
    margin-left: 5px !important;
  }
}

@media screen and (min-width: 375px) {
  .backText {
    font-size: 3em;
  }

  .fml {
    width: 100%;
  }

  .hs {
    grid-gap: 42%;
  }

  .app {
    width: 102%;
    margin-top: -14%;
    grid-template-columns: 5px 1fr 5px;
  }

  .item {
    width: 200%;
  }

  footer .mail,
  footer .made {
    text-align: left !important;
  }
  .made {
    margin-left: 5px !important;
  }
}

@media screen and (min-width: 425px) {
  .backText {
    font-size: 4em;
  }

  .fml {
    width: 100%;
  }

  .hs {
    grid-gap: 30%;
  }

  .app {
    width: 102%;
    margin-top: -14%;
    grid-template-columns: 10px 1fr 10px;
  }

  .item {
    width: 170%;
  }

  footer .mail,
  footer .made {
    text-align: left !important;
  }

  .made {
    margin-left: 5px !important;
  }
}

@media screen and (min-width: 768px) {
  .backText {
    font-size: 5em;
  }

  .fml {
    width: 40%;
  }

  .hs {
    grid-gap: 57%;
  }

  .app {
    width: 102%;
    margin-top: -9%;
    grid-template-columns: 2px 1fr 2px;
  }

  .item {
    width: 120%;
  }

  .made {
    margin-left: 0px !important;
    text-align: right !important;
  }
}

@media screen and (min-width: 1024px) {
  .backText {
    font-size: 10em;
  }

  .fml {
    width: 30%;
  }

  .hs {
    grid-gap: 57%;
  }

  .app {
    width: 102%;
    margin-top: -10%;
    grid-template-columns: 2px 1fr 2px;
  }

  .item {
    width: 90%;
  }

  .card-body > .row {
    font-size: 1.1em;
  }

  .made {
    text-align: right !important;
  }
}

@media screen and (min-width: 1440px) {
  .backText {
    font-size: 10em;
  }

  .fml {
    width: 30%;
  }

  .hs {
    grid-gap: 57%;
  }

  .app {
    width: 102%;
    margin-top: -8%;
    grid-template-columns: 2px 1fr 2px;
  }

  .item {
    width: 90%;
  }

  .card-body > .row {
    font-size: 1.2em;
  }

  footer .mail {
    text-align: center !important;
  }

  footer .made {
    text-align: right !important;
  }
}

@media screen and (min-width: 2560px) {
  .backText {
    font-size: 15em;
  }

  .fml {
    width: 40%;
  }

  .hs {
    grid-gap: 57%;
  }

  .app {
    width: 102%;
    margin-top: -6%;
    grid-template-columns: 2px 1fr 2px;
  }

  .item {
    width: 90%;
  }

  .card-body > .row {
    font-size: 2em;
  }

  .clap {
    width: 60px !important;
    height: 55px !important;
  }

  .count {
    margin-top: -30%;
  }

  footer {
    font-size: 2em;
  }

  footer .mail {
    text-align: center !important;
  }

  footer .made {
    text-align: right !important;
  }
}
