@import 'https://cdn.staticaly.com/gh/harshitks2203/FrontendMentorProjects/e9c320ef/HubbleLandingPage1/css/fontline.css';

html,
body,
.container-fluid {
  background-color: #eee;
}

.logo {
  margin-top: 2%;
}

.backText {
  font-family: 'toucheBold', sans-serif;
  font-size: 12em;
  color: #bdbdbd;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
}

a,
a:link,
a:visited,
a:hover {
  cursor: pointer;
  text-decoration: none !important;
}

/************ Footer ************/
.footer-row {
  display: flex;
}
.fab {
  font-size: 1.4em;
}
.fa-heart {
  color: red;
}
.fa-envelope {
  color: #222;
}
.fa-github {
  color: #171414;
}
.fa-twitter {
  color: #5aa3d6;
}
.fa-instagram {
  color: #dc3829;
}
.fa-linkedin {
  color: #3171ad;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  footer .text-right,
  footer .text-center {
    text-align: left !important;
  }
  .made {
    margin-left: 5px !important;
  }
}
