@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700');
html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.nopadding {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heroTop {
    background-color: hsl(193, 100%, 96%);
    background-image: url(../images/bg-hero-desktop.svg) !important;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;
}

.centerAlign {
    margin: 0 auto;
}

.logo {
    padding: 5vh 3vw 0 3vw;
}

.try {
    margin: 2rem 4rem;
    padding: 0.6rem 4rem;
    color: #111;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.109);
}

.hero {
    margin-top: 5vh;
}

.heroGroup {
    width: 90%;
    margin-left: 3vw;
    margin-top: 15vh;
    order: 1;
}

.heroTitle {
    font-size: 2.5rem;
    font-weight: 600;
}

.heroDesc {
    font-size: 1rem;
    margin-top: 2vh;
}

.get {
    margin: 2rem 0;
    padding: 1rem 3rem;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    resize: vertical;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.109);
}

.illusMock {
    width: 90%;
    margin-bottom: 10vh;
    order: 2;
}

.fList,
.botCard {
    margin-top: 15vh;
}

.cards {
    margin: 0 auto 5vh auto;
}

.card {
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.109);
}

.featGroup {
    margin: 6rem 0 0 6rem;
    width: 80%;
}

.floCon {
    margin-left: 4rem;
}

.featureTitle {
    font-size: 2rem;
    font-weight: 600;
}

.featureDesc {
    margin-top: 2vh;
    font-size: 1.05rem;
    color: hsl(208, 11%, 55%);
    font-family: 'Open Sans', sans-serif;
}

.illusFeat {
    width: 70%;
    padding: 5vh 2vw;
}

.cTitle {
    margin-top: 5vh;
    font-weight: 600;
    font-size: 2rem;
}

.botGroup>.get {
    padding: 1.2rem 6rem;
    font-size: 1.1rem;
}

footer {
    background-color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    margin-top: -25vh;
}

.fLogo {
    margin-top: 30vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
}

.locGroup {
    display: flex;
    justify-content: center;
    margin-left: -5vw;
}

.locIcon {
    width: 3vw;
    display: inline;
    margin-left: 2vw;
}

.loc {
    vertical-align: middle;
    width: 1.25vw;
}

.locText {
    display: inline;
    margin-left: 2vw;
    color: #fff;
}

.fooGroup {
    width: 100%;
    margin-left: 2vw;
    position: relative;
}

.fooGroup img {
    position: absolute;
    top: 50%;
    margin-top: -3vh;
}

.fooGroup span {
    margin-left: 4vw;
    display: block;
}

.iconloc {
    width: 1.5vw;
}

.iconimg {
    margin: 2vh 1vw 0.75rem 2vw;
    width: 1.5vw;
    vertical-align: middle;
}

.iconDesc {
    font-size: 1em;
    width: 80%;
    margin-left: 20px;
    color: #fff;
}

.widget_text li {
    margin: 0 0 1.5vh 0;
}

.widget_text a,
.list1 a {
    color: #fff;
}

.socials {
    display: flex;
    justify-content: center;
}

.fab {
    color: #fff;
    font-size: 1rem;
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline;
    margin-left: 1rem;
}

.fa-facebook-f {
    padding: 0.5rem 0.8rem;
}

.footerEnd {
    height: 10vh;
}