@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700');
html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f9fe;
    /*f6f9fe*/
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}