@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f9fe;
}

.logoDiv {
    padding: 3rem 4rem;
}

.try {
    margin-right: 4rem;
    margin-top: 3rem;
    padding: 0.5rem 4rem;
    color: hsl(322, 100%, 66%);
    background-color: #fff;
    border: 1px solid #fff;
    resize: vertical;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.get {
    margin: 1rem 0;
    padding: 1rem 4rem;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    resize: vertical;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.illus,
.group1 {
    margin: 0 auto;
    margin-top: 3rem;
}

.title,
.desc,
.getDiv,
.cardTitle,
.cardDesc {
    text-align: center;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
}

.desc {
    font-size: 1.35rem;
    color: #999;
    margin-top: 1rem;
}

.feat {
    margin-top: 20rem;
}

.group2,
.userIllus>img {
    width: 80%;
}

.users {
    margin: 4rem;
}

.feature_title {
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 5vh;
}

.feature_desc {
    font-weight: 400;
    color: #999;
    margin-top: 2vh;
    font-size: 1.1rem;
}

.group3 {
    margin: 30vh auto;
}

.card {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 12px 12px 20px 0px rgba(0, 0, 0, 0.2);
}

.cardTitle {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 10vh;
}

.cardDesc {
    color: #999;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

footer {
    background-color: #0d252e;
}

.flogo {
    margin: 3rem;
}

.socials,
.copy {
    margin-left: 2rem;
}

.fab {
    font-size: 2rem;
    color: #fff;
    margin-right: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 3vh;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}