@import 'https://raw.githack.com/harshitks2203/FMProjects/master/FyloLandingPage1/css/fontline.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Open+Sans:400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.logo {
    margin: 4vw 4vw;
    width: 12vw;
}

.group1 {
  margin: 4vw -3vw;
  text-align: right;
}

.group1 > .btn {
  margin-left: 2vw;
  padding: 0.5vw 2vw;
}

.mainIllus { text-align: right; }

.mainTitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3vw;
  line-height: 7vh;
  width: 70%;
  margin: 5vw 3vw 1vw;
}

.mainDesc {
  font-weight: 400;
  font-size: 1.1vw;
  width: 72%;
  margin: 1vw 3vw;
  color: hsl(0, 0%, 50%);
}

.get {
    margin: 2rem;
    width: 50%;
    padding: 1em;
    background-color: hsl(163, 95%, 43%);
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.5vw;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
