@import 'https://raw.githack.com/harshitks2203/FMProjects/master/FyloLandingPage1/css/fontline.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Open+Sans:400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.logo {
    margin: 4vw 4vw;
    width: 12vw;
}

.group1 {
  margin: 4vw -3vw;
  text-align: right;
}

.group1 > .btn {
  margin-left: 2vw;
  padding: 0.5vw 2vw;
}

.mainIllus{ text-align: right;}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
