@import 'https://raw.githack.com/harshitks2203/FMProjects/master/FyloLandingPage1/css/fontline.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Open+Sans:400,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.logo {
    margin: 4vw 4vw;
    width: 12vw;
}

.group1 {
    margin: 4vw -3vw;
    text-align: right;
}

.group1 > .btn {
    margin-left: 2vw;
    padding: 0.5vw 2vw;
}

.mainIllus { text-align: right; }

.mainTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    line-height: 7vh;
    width: 70%;
    margin: 5vw 3vw 1vw;
}

.mainDesc {
    font-weight: 400;
    font-size: 1.1vw;
    width: 72%;
    margin: 1vw 3vw;
    color: hsl(0, 0%, 50%);
}

.get {
    margin: 2rem;
    width: 50%;
    padding: 1em;
    background-color: hsl(163, 95%, 43%);
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.5vw;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.illus {
    margin: 0 10vw;
    width: 25vw;
}

.back{
    background-image: url(../images/bg-intro-desktop.svg) !important;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    width: 55%;
    height: 110vh;
    margin-top: -53vw;
    margin-left: auto;
    margin-right: -5vw;
}

.mtRow { margin-top: 20vw ;}

.group1 a { color: #fff; text-decoration: none;}

.heroTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
}

.heroDesc {
    font-weight: 400;
    font-size: 1.5vw;
    color: hsl(0, 0%, 50%);
    width: 45%;
    margin: 1vw auto;
    text-align: center;
}

.featRow { margin-top: 5vw; }
.device { height: 9vw; }

.featText {
    margin: 2vw auto;
    font-weight: 600;
    font-size: 1.5vw;
    text-align: center;
    width: 55%;

}
.mtconnect{ margin-top: 10vw; padding: 0 2vw;}
.connTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.4vw;
    margin-top: 15vw;
}

.connDesc {
    font-weight: 400;
    font-size: 1.25vw;
    color: hsl(0, 0%, 50%);
    margin: 2vw auto;
}

.card { margin-top: 1vw; box-shadow: 0px 0px 13px 4px #eee; }
.cardUp { margin-top: -5vw; }
.cardImg { width: 13vw; margin: 3vw auto; }
.cardImg2 { width: 7vw; margin: 2vw auto; }

hr {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.cardTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
    text-align: center;
    margin: 0 auto 0.5vw;
}

.cardText {
    font-weight: 400;
    font-size: 1.25vw;
    text-align: center;
    color: hsl(0, 0%, 50%);
    width: 80%;
    margin: 0 auto;
}

.bottomCol{ margin: 0 auto;}

.bottomTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
}

.bottomText {
    font-weight: 400;
    font-size: 1.2vw;
    color: hsl(0, 0%, 50%);
    margin: 1vw auto;
    text-align: center;
}

.bottomBtn { text-align: center;}


footer {
    background-color: hsl(243, 87%, 12%);
    margin-top: 10vh;
    color: #fff;
}

.fLogo {
    margin-top: 5vh;
    margin-left: 2vw;
}

.locGroup { margin-left: 3vw; }

.locIcon {
    width: 3vw;
    display: inline;
    margin-left: 2vw;
}

.locText {
    font-size: 1.35vw;
    font-weight: 700;
    margin-left: 3vw;
    width: 85%;
}

.icons {
    margin-top: 5vh;
    margin-left: 3vw;
    font-size: 1.35vw;
}

.iconimg {
    width: 1.5vw;
    margin-top: 2vh;
    vertical-align: middle;
    margin-bottom: 0.75em;
}

.iconDesc {
    font-size: 0.9em;
    margin-left: 20px;
}

.widget_title{
  font-size: 1.6vw;
  font-weight: 700;
  margin-bottom: 2vh;
}

.widget_text li {
    margin: 0 0 1.5vh 0;
}

.widget_text a,
.list1 a {
    color: #fff;
}

.signUp {
    display: inline-flex;
    width: 90%;
}

input[type='text'] {
    margin: 2vw 0 0 3vw;
    width: 100%;
    padding: 1vw 1vw;
    color: black;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
    resize: vertical;
    outline: none;
    font-size: 1.2vw;
    order: 1;
    display: flex;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.join {
    margin: 2vw 0 0 1vw;
    width: 50%;
    padding: 0.5vw;
    background-color: hsl(163, 95%, 43%);
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 700;
    order: 2;
    font-size: 1.2vw;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.footerEnd { height: 15vh;}



/******************************************************************
************************* Mobile view CSS *************************/
@media screen and (min-width: 320px)  and (max-width: 767px){

}

/******************************************************************
************************* Tablet view CSS *************************/
@media screen and (min-width: 768px)  and (max-width: 1023px){

}

/******************************************************************
************************* Laptop view CSS *************************/
@media screen and (min-width: 1024px)  and (max-width: 1439px){

}

@media screen and (min-width: 1440px)  and (max-width: 2559px){

}

@media screen and (min-width: 2560px) {

}
