@font-face {
  font-family: 'RedshiftExtraBold';
  src: url('./fonts/RedshiftExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RedShiftEB';
  src: url('./fonts/RedshiftEB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RedShiftEB';
  src: url('./fonts/RedshiftEB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedshiftME';
  src: url('./fonts/RedshiftMed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedshiftRE';
  src: url('./fonts/RedshiftReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
