@import 'https://cdn.staticaly.com/gh/harshitks2203/FrontendMentorProjects/fd304d94/HubbleLandingPage1/css/fontline.css';

.container {
  font-family: 'toucheBold', sans-serif;
  font-size: 20px;
}
.body {
  background-color: aquamarine;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
